<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <h1>Add your website</h1>
        <form action="/" method="POST">
            <input type="text" name="address" placeholder="Website address">
            <input type="text" name="title" placeholder="Title">
            <textarea name="description" rows="6" placeholder="Description"></textarea>
            <select name="category" placeholder="Categories">
                <option value="1">Education</option>
                <option value="2">Business</option>
                <option value="3">Finance</option>
                <option value="3">Entertainment</option>
            </select>
            <button>Save</button>
        </form>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>